@use 'base/variables'as v;
@use 'base/mixins'as m;

.testimonials {
    padding: 10rem 2rem;

    background-color: v.$white;
    @include m.tablet {
        margin-top: -10rem;
    }
}
.testimony {
    background-color: v.$lighBrown;
    padding: 2rem 4rem;
    max-width: 50rem;
    margin: 0 auto;
    border-radius: 1rem;
}
.testimony__author {
    text-align: right;
    font-family: v.$thirdFont;
    color: v.$primary;
    font-size: 2rem;
}