@use 'variables'as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: v.$secondaryFont;
    font-size: 1.6rem;
    background-color: v.$lighBrown;
}



a {
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}
/* source {
    max-width: 100%;
    display: block;  
} */
.container {
    width: min(120rem, 95%); 
    margin: 0 auto;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}