// Fonts    
$mainFont:'Roboto', sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colors
$primary: #E8505B;
$seconday: #455A64;
$black: #000;
$white: #FFF;
$lighGray: #ECEEEF;

// Units
$spacing: 5rem;